.events-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.events-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    display: block;
    width: 90vw;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(2n) .events-list__text {
      order: -1;
    }
  }
}

@media screen and (max-width: 767px) {
  .events-list__img {
    margin-bottom: 10px;
  }
}

.events-list__wrapper {
  width: 44vw;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.events-section__title {
  margin-bottom: 30px;
  color: var(--primary-header-color);
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.events-list__text {
  width: 44vw;
  color: var(--primary-header-color);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 992px) {
    font-size: 24px;
  }
}
