.photo-gallery-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.photo-gallery-list__item {
  width: 100%;
  border: 1px solid var(--primary-header-color);
  //   transition-property: transform;
  //   transition-duration: 5000ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //   transition-delay: 0;
  &:hover {
    box-shadow: 1px 1px 2px #000000, 0 0 1em #bbbcbe, 0 0 0.2em #bbbcbe;
  }
  @media screen and (min-width: 768px) {
    width: 49%;
  }

  @media screen and (min-width: 1200px) {
    width: 32%;
  }
}

.photo-gallery-list__img {
  object-fit: cover;
}
